@import 'https://fonts.googleapis.com/css?family=Lato';

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

header {
  background-color: #ededed;
}

.main-content {
  min-height: 100vh;
  background-image: url("img/hand.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding-bottom: 350px;
  background-color: #ededed;
  display: flex;
}

.main-button {
  background: none;
  padding: 13px 70px;
  border: 2px solid #bdb290;
  border-radius: 7px;
  position: relative;
  font-size: 20px;
}

  img {
  max-width: 100%;
  height: auto;
}


.about {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.about img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  max-width: 100%;
  margin-top: 30px;
  -webkit-box-shadow: -1px 10px 25px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 10px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.about h2,h3 {
  margin: 2px;
  padding: 10px;
}

#abilities {
  background-color: #010000;
  padding: 18px;
}

.technologies {
  background-color: #010000;
  padding: 18px;
}

.skills {
  text-align: center;
}

.skills h2 {
  margin: 0;
  color: white;
  display: inline-block;
  position: relative;
  background-color: #010000;
  bottom: -14px;
  padding: 0 13px;
}

.ability {
  text-align: center;
  transition-property: transform;
  transition-duration: 1s;
  height: 160px;
}

.ability-image {
  margin: 10px;
}

.ability:hover {
  transform: scale(1.3);
}

.ability-description {
  color: white;
  padding-top: 10px;
}

#abilities .skills h2 {
  color: white;
  margin: 0;
  text-align: center;
  padding: 0 13px;
}

.description {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.projects {
  border-radius: 8px;
  text-align: center;
  border: 2px solid #919191;
  padding: 40px 100px 40px 100px;
}

.projects img {
  height: 300px;
}

.projects i {
  display: block;
}

.projects a:hover {
  text-decoration: none;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 1px;
  width: 100%;
}

.line {
  margin: 0;
}

.border {
  border: 1px solid white;
  border-radius: 7px;
  padding: 34px 14px 14px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

section .contact img {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: -1px 10px 25px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 10px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.contact-information {
  text-align: center;
  padding: 45px;
  font-size: 18px;
}

.contact-information p {
  margin: 0;
}

.icons {
  color: black;
  display: flex;
  justify-content: center;
}

 .my-cv, .git, .linkedin, .mail {
  margin: 10px;
  color: black;
}

.my-cv:hover {
  color: #313332;
  text-decoration: none;
}

.git:hover {
  color: #313332;
  text-decoration: none;
}

.linkedin:hover {
  color: #313332;
  text-decoration: none;
}

.mail:hover {
  color: #313332;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #313332;
  color: white;
}
footer p {
  padding: 10px;
  margin: 0;
}




@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

    .col-m-6 {
      width: 50%;
    }

    .col-m-12 {
      width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){

    .col-m-6 {
      width: 50%;
    }

    .col-m-12 {
      width: 100%;
    }

    .ability {
      transition: none;
    }

    .ability:hover {
      transform: none;
    }

    [class*="col-"] {
      float: none;
    } 
}

@media (max-width: 767px) {

    .col-s-6 {
      width: 50%;
    } 
    .col-s-12 {
      width: 100%;
    }

    .ability {
      transition: none;
    }

    .ability:hover {
      transform: none;
    }

    [class*="col-"] {
      float: none;
    }

    .first-button {
      padding-top: 50px;
  }

    .about img {
      margin-top: 15px;
    }

    .about h2,h3 {
      font-size: 20px;
  }
    .about h2,h3,h4 {
      margin: 0;
    }
}
